$wrap-max-width: 1200px;

$body-background: #fbfaf8;
$body-color: #191919;
$body-font-family: "Roboto";

$link-color: #0078a0;
$link-hover-color: darken($link-color, 15%);

$header-background: $body-background;
$header-font-family: "Cookie";
$header-font-size: 1.8rem;
$header-padding: 25px 0;
$header-logo-height: 65px;
$header-text-margin-left: 30px;

$nav-background: #3C3636;
$nav-line-height: 50px;
$nav-margin-bottom: 30px;
  $nav-item-background: $nav-background;
  $nav-item-color: $body-background;
  $nav-item-hover-background: lighten($nav-background, 20%);
  $nav-item-hover-color: darken($body-background, 20%);
  $nav-item-margin: 0;
  $nav-item-padding: 0 15px;
