body {
  background: $body-background;
  color: $body-color;
  font-family: $body-font-family;
}
a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
  }
}

.header {
  background: $header-background url("../img/pattern.png") repeat;
  font-family: $header-font-family;
  font-size: $header-font-size;

  a {
    color: $body-color;
  }
}

.nav {
  background: $nav-background;

  ul li a {
    background: $nav-item-background;
    color: $nav-item-color;
    text-decoration: none;

    &:hover {
      background: $nav-item-hover-background;
      color: $nav-item-hover-color;
    }
  }
}
